/*ANIMACION HOJA INDEX*/
.btn.uno::after{
    content: "";
    width: 1px; 
    height: 1px;
	background: none;
	position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
	transition: .3s ease-in-out all;
    border-radius: 100%;
    transform-origin: center;
}


.btn.uno:hover::after {
    
	transform: scale(160);
    background:#FF8629;

}

/*ANIMACION HOJA SERVICIOS*/

.Cards-One:hover,.Cards-Two:hover,.Cards-three:hover{
    transform: scale(1.10);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);    
}

